@media only screen and (max-width: 768px) {
  h1 {
    font-size:2.2rem !important;
  }

  .letter {
    font-size:1.6rem !important;
    padding-bottom:5px;
    width:50px;
    height:50px;
  }

  .result {
    font-size:2.2rem;
  }
}
